&-feature {
    @include set-text-style($text-style-content-1);
    @include full-bleed;

    background-color: $component-feature-background-color;
    position: relative;
    z-index: 1;

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        display: flex;
        height: 600px;
    }

    background-image: url("http://unumemarketing.com/dental-employer/top-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 250px;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        height: 425px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        flex-basis: 50%;
        height: 100%;

    }

    @import "content";
    @import "image";
    @import "content-section";
    @import "heading";
    @import "subheading";
}